# -----------------------------------------------------------------------------
# Application BASE URL
# For production, set to your domain, e.g. https://ouilzn.shop
# For development, set to http://localhost:3000 or any other port
# -----------------------------------------------------------------------------
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# -----------------------------------------------------------------------------
# Email / Newsletter (Resend)
# Get API key and audience id from https://resend.com
# -----------------------------------------------------------------------------
RESEND_API_KEY=""
RESEND_AUDIENCE_ID=""

# -----------------------------------------------------------------------------
# Configurations
# -----------------------------------------------------------------------------
# Disable image optimization, check out next.config.ts for more details
DISABLE_IMAGE_OPTIMIZATION=false

# -----------------------------------------------------------------------------
# Analytics (Optional)
# -----------------------------------------------------------------------------
# Google Analytics (https://analytics.google.com)
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=""


